@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Este é um C.R.U.D que será usado por mim para testes, aprendizado e projetos futuros...</p>
    <p>Quer saber mais? <a href="https://github.com/xX-Mill3r-Xx">Visite meu perfil no GitHub! </a>.</p>
</div>
